# http://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*   @frankkivenablao-mabini
=======
# CODEOWNERS
# All team members are code owners for everything in this repository.

* @Kaiserkrow @rawrbeth @kyucide @jedbryancornel-cpu @rhenemersonsanjuan-rgb @frankkivenablao-mabini 
# Protect the CODEOWNERS file itself
/.github/CODEOWNERS @Kaiserkrow @rawrbeth @kyucide @jedbryancornel-cpu @rhenemersonsanjuan-rgb @frankkivenablao-mabini
